{% extends '../basee.html' %}

{% block title %}PC - Questions{% endblock %}


{% block staticfiles %}
{% endblock %}


{% block content %}

<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar">

            <div class=" col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                <button type="button" id="sidebarCollapse" class="btn btn-dark mt-1">
                    <i class="fas fa-align-left"></i>
                </button>
                <a href="{% url 'pl:category' %}" class="btn btn-dark mt-1">Category</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark mt-1">Home</a>
            </div>
            <div class=" col-lg-6 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <h3 class="mb-0">Welcome {{request.user.username|title}}</h3>
                {% endif %}
                <a href="{% url 'question:question_list' %}"
                    class="navigation ">Question{{ count|pluralize }}({{ count }})</a>

            </div>
            <div class="col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <div class="btn-group  dropstart">
                    <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle" width="60"
                            height="60">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                            href="{% url 'account:profile' request.user.profile.slug %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'question:user_question_list' request.user.slug %}">My
                            Questions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="row justify-content-center">
                    <a href="{% url 'account:register' %}" class="btn btn-dark col-5"
                        style="margin-right: 5px;">Register</a>
                    <a href="{% url 'account:login' %}" class="btn btn-dark col-5">Log in</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>

</div>
<!-- End Of Navbar -->

<div class="col-12">
    <div class="card card-stats card-border">
        <div class="card-body">
            <div class="row">
                {% for cat in category  %}
                <div class="col-lg-3 col-12 mt-5">
                    <a style="color: inherit;" href="{% url 'question:category_question_list' cat.slug %}">
                        <div class="card1 mt-5">
                            <div class="con-img icon-big2">
                                {% if cat.name == 'Games' %}
                                <i class="fas fa-gamepad game-icon"></i>
                                <i id="blur" class="fas fa-gamepad game-icon"></i>
                                {% elif cat.name == 'Web' %}
                                <i class="fas fa-globe  web-icon"></i>
                                <i id="blur" class="fas fa-globe  web-icon"></i>
                                {% elif cat.name == "Data Science" %}
                                <i class="fas fa-flask data-icon"></i>
                                <i id="blur" class="fas fa-flask data-icon"></i>
                                {% elif cat.name == 'Mobile' %}
                                <i class="fas fa-mobile mobile-icon"></i>
                                <i id="blur" class="fas fa-mobile mobile-icon"></i>
                                {% endif %}
                            </div>
                            <div class="con-text lang text-center">
                                <h5 class="fw-bold">{{cat.name}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <hr>
            <div class="col-12">
                <div class="row">

                    <div class="col-lg-9 col-12">
                        <form class="input-group" action="{% url 'question:question_search' %}" method="GET">
                            {% csrf_token %}
                            <!-- <input type="search" name="query" class="form-control mr-sm-2 mt-1" placeholder="Search"
                                aria-label="Search" required>

                            <button class="btn btn-primary col-2 mt-1" type="submit"
                                style="margin-left: 10px;">Search</button> -->

                            <div class="input-group mt-1 ">
                                <input type="search" class="form-control" placeholder="Search" name="query"
                                    aria-label="search" aria-describedby="button-addon2" required>
                                <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: right;">
                        <!-- <a href="" class="btn btn-dark">Advanced Search</a> -->
                        <a href="{% url 'question:question_create' %}" class="btn btn-dark col-12 mt-1">Create a
                            Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div> -->

<div class="row mt-5">
    {% for question in object_list %}
    <div class="col-lg-4 col-12 mt-5">
        <div class="card1 mt-5">
            <div class="con-img">
                <a href="{{question.author.profile.image.url}}">
                    <img class="rounded-circle" width="90" height="90" src="{{question.author.profile.image.url}}"
                        alt="">
                    <img class="rounded-circle" id="blur" src="{{question.user.profile.image.url}}" alt="">
                </a>
            </div>
            <div class="con-text lang2">
                <a href="{% url 'question:question_detail' question.slug %}">
                    <h5 class="fw-bold">{{question.title|truncatechars:28}}</h5>
                </a>

                <a href="{% url 'question:user_question_list' question.author.slug %}">
                    <p class="my-0 fw-bold">By {{question.author}}</p>
                </a>
                <div class="row">
                    <p class="col-6 my-0">{{question.date_posted|date:'F d, Y'}}</p>
                    <p class="col-6  my-0 fw-bold text-end"><span class="web-icon"
                            id="like_count">{{question.like_count}}</span>
                        Like{{question.like_count|pluralize }}</p>
                </div>
                <hr>
                {% for tag in question.tags.all %}
                {% if tag.name == 'Games' %}
                <i class="fas fa-gamepad game-icon"></i>
                {% elif tag.name == 'Web' %}
                <i class="fas fa-globe  web-icon"></i>
                {% elif tag.name == 'Front-end' %}
                <i class="fas fa-palette web-icon"></i>
                {% elif tag.name == 'Back-end' %}
                <i class="fas fa-server web-icon"></i>
                {% elif tag.name == "Data Science" %}
                <i class="fas fa-flask data-icon"></i>
                {% elif tag.name == 'Artificial Intelligence' %}
                <i class="fas fa-brain data-icon"></i>
                {% elif tag.name == 'Machine Learning' %}
                <i class="fas fa-robot data-icon"></i>
                {% elif tag.name == 'Mobile' %}
                <i class="fas fa-mobile mobile-icon"></i>
                {% elif tag.name == 'Android' %}
                <i class="fab fa-android mobile-icon"></i>
                {% elif tag.name == 'IOS' %}
                <i class="fab fa-apple mobile-icon"></i>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% if is_paginated %}
<div class="col-12 text-center mt-5">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-dark my-4" href="?page=1">First</a>
    <a class="btn btn-outline-dark my-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-dark my-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-dark my-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-dark my-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-dark my-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
{% endif %}




{% endblock %}