{% extends '../basee.html' %}
{% load crispy_forms_tags %}


{% block title %}PC - Search{% endblock %}

{% block content %}

<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar">

            <div class=" col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                <button type="button" id="sidebarCollapse" class="btn btn-dark mt-1">
                    <i class="fas fa-align-left"></i>
                </button>
                <a href="{% url 'pl:category' %}" class="btn btn-dark mt-1">Category</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark mt-1">Home</a>
            </div>
            <div class=" col-lg-6 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <h3 class="mb-0">Welcome {{request.user.username|title}}</h3>
                {% endif %}
                <a href="{% url 'question:question_list' %}"
                    class="navigation ">Question{{ results|length|pluralize }}({{ results|length }})</a> /
                <a href="{% url 'question:question_search' %}" class="navigation ">Search</a>

            </div>
            <div class="col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <div class="btn-group  dropstart">
                    <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle" width="60"
                            height="60">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                            href="{% url 'account:profile' request.user.profile.slug %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'question:user_question_list' request.user.slug %}">My
                            Questions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="row justify-content-center">
                    <a href="{% url 'account:register' %}" class="btn btn-dark col-5"
                        style="margin-right: 5px;">Register</a>
                    <a href="{% url 'account:login' %}" class="btn btn-dark col-5">Log in</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>

</div>
<!-- End Of Navbar -->




{% if query %}
{% if messages %}
<div class="col-10" style="margin: 0 auto">
    {% for message in messages %}
    <div class="alert {{ message.tags }} text-center">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="col-10 m-auto">
    <div class="card card-stats card-border">
        <div class="card-header">
            <h4 class="card-title fw-bold mb-0">Search Results</h4>
            <a class="card-category me" style="color: #9A9A9A;" href="{% url 'question:question_search' %}">go to
                advanced search</a>
        </div>
        <div class="card-body">
            <div class="text-center" style="background:#eee; border:1px solid #ccc; padding:13px 10px 5px">
                <h5 class="fw-bold">Question Search Details</h5>
            </div>
            <div class="col-12 mt-3">

                <ul class="list-unstyled team-members">
                    <li>
                        <div class="row my-3">
                            <div style="color: #f0ad4e;" class="col-md-1 col-1 lang2 profile-icons">
                                <i class="fas fa-question"></i>
                            </div>
                            <div class="col-md-7 col-7">
                                <h5 class="fw-bold mt-2">{{query}}</h5>
                            </div>

                        </div>
                    </li>

                    {% if author2 or author %}
                    <li>
                        <div class="row my-3">
                            <div class="col-md-1 col-1 lang2 profile-icons">
                                {% if author %}
                                <i class="fas fa-user-check game-icon"></i>
                                {% elif author2 %}
                                <i class="fas fa-user-times web-icon"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-7 col-7">
                                {% if author %}
                                <h5 class="fw-bold mt-2">{{author}}</h5>
                                {% elif author2%}
                                <h5 class="fw-bold mt-2">{{author2}}</h5>
                                {% endif %}
                            </div>

                        </div>
                    </li>
                    {% endif %}

                    {% if tag %}
                    <li>
                        <div class="row my-3">
                            <div class="col-md-1 col-1  lang2 profile-icons">
                                {% if tag.name == 'Games' %}
                                <i class="fas fa-gamepad game-icon"></i>
                                {% elif tag.name == 'Web' %}
                                <i class="fas fa-globe  web-icon"></i>
                                {% elif tag.name == 'Front-end' %}
                                <i class="fas fa-palette web-icon"></i>
                                {% elif tag.name == 'Back-end' %}
                                <i class="fas fa-server web-icon"></i>
                                {% elif tag.name == "Data Science" %}
                                <i class="fas fa-flask data-icon"></i>
                                {% elif tag.name == 'Artificial Intelligence' %}
                                <i class="fas fa-brain data-icon"></i>
                                {% elif tag.name == 'Machine Learning' %}
                                <i class="fas fa-robot data-icon"></i>
                                {% elif tag.name == 'Mobile' %}
                                <i class="fas fa-mobile mobile-icon"></i>
                                {% elif tag.name == 'Android' %}
                                <i class="fab fa-android mobile-icon"></i>
                                {% elif tag.name == 'IOS' %}
                                <i class="fab fa-apple mobile-icon"></i>
                                {% endif %}
                            </div>
                            <div class="col-md-7 col-7">
                                <a class="me fw-bold" href="{{tag.get_absolute_url}} " style="color: inherit;">
                                    <h5 class=" fw-bold mb-0 mt-2">{{tag.name}}</h5>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endif %}

                    <li>
                        <div class="row my-3">
                            <div class="col-md-1 col-1 lang2 data-icon profile-icons">
                                <i class="fas fa-list-ol"></i>
                            </div>
                            <div class="col-md-7 col-7">
                                <h5 class="fw-bold mt-2">{{results|length}}</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    {% for question in results %}
    <div class="col-lg-4 col-12 mt-5">
        <div class="card1 mt-5">
            <div class="con-img">
                <a href="{{question.author.profile.image.url}}">
                    <img class="rounded-circle" width="90" height="90" src="{{question.author.profile.image.url}}"
                        alt="">
                    <img class="rounded-circle" id="blur" src="{{question.user.profile.image.url}}" alt="">
                </a>
            </div>
            <div class="con-text lang2">
                <a href="{% url 'question:question_detail' question.slug %}">
                    <h5 class="fw-bold">{{question.title|truncatechars:28}}</h5>
                </a>

                <a href="{% url 'question:user_question_list' question.author.slug %}">
                    <p class="my-0 fw-bold">By {{question.author}}</p>
                </a>
                <p class="my-0">{{question.date_posted|date:'F d, Y'}}</p>
                <hr>
                {% for tag in question.tags.all %}
                {% if tag.name == 'Games' %}
                <i class="fas fa-gamepad game-icon"></i>
                {% elif tag.name == 'Web' %}
                <i class="fas fa-globe  web-icon"></i>
                {% elif tag.name == 'Front-end' %}
                <i class="fas fa-palette web-icon"></i>
                {% elif tag.name == 'Back-end' %}
                <i class="fas fa-server web-icon"></i>
                {% elif tag.name == "Data Science" %}
                <i class="fas fa-flask data-icon"></i>
                {% elif tag.name == 'Artificial Intelligence' %}
                <i class="fas fa-brain data-icon"></i>
                {% elif tag.name == 'Machine Learning' %}
                <i class="fas fa-robot data-icon"></i>
                {% elif tag.name == 'Mobile' %}
                <i class="fas fa-mobile mobile-icon"></i>
                {% elif tag.name == 'Android' %}
                <i class="fab fa-android mobile-icon"></i>
                {% elif tag.name == 'IOS' %}
                <i class="fab fa-apple mobile-icon"></i>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% else %}

<div class="row justify-content-center">
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="card card-border">
            <div class="card-header">
                <h5 class="card-title title mb-0">Search For a Question</h5>
                <p class="card-category">Advanced Search</p>
            </div>
            <div class="card-body update">
                <form method="GET">
                    {% csrf_token %}
                    {{form.query|as_crispy_field}}
                    {{form.username|as_crispy_field}}
                    {{form.tags|as_crispy_field}}
                    <hr>
                    <button type="submit" class="btn col-12 my-1">Search</button>
                </form>
                <a href="{% url 'question:question_list' %}" class="col-12 btn btn-dark">All Questions</a>
            </div>
        </div>
    </div>
</div>
{%endif%}

{% endblock %}