{% extends '../basee.html' %}


{% block title %}PC - Programming Languages{% endblock %}

{% block content %}
<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar">

            <div class=" col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                <button type="button" id="sidebarCollapse" class="btn btn-dark mt-1">
                    <i class="fas fa-align-left"></i>
                </button>
                <a href="{% url 'pl:category' %}" class="btn btn-dark mt-1">Category</a>
                <a href="{% url 'pl:home' %}" class="btn btn-dark mt-1">Home</a>
            </div>
            <div class=" col-lg-6 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <h3 class="mb-0">Welcome {{request.user.username|title}}</h3>
                {% endif %}
                <a href="{% url 'pl:languages' %}" class="navigation ">Programming Languages</a>

            </div>
            <div class="col-lg-3 col-12" style="text-align: center; margin: 10px 0;">
                {% if request.user.is_authenticated %}
                <div class="btn-group  dropstart">
                    <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{ request.user.profile.image.url }}" alt="" class="rounded-circle" width="60"
                            height="60">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                            href="{% url 'account:profile' request.user.profile.slug %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'question:user_question_list' request.user.slug %}">My Questions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="row justify-content-center">
                    <a href="{% url 'account:register' %}" class="btn btn-dark col-5"
                        style="margin-right: 5px;">Register</a>
                    <a href="{% url 'account:login' %}" class="btn btn-dark col-5">Log in</a>
                </div>
                {% endif %}
            </div>
        </nav>
    </div>

</div>
<!-- End Of Navbar -->

<!-- <div class="col-6 col-md-6 col-sm-12">
    <div class="card card-border">
        <div class="card-body text-center">
            <h4>Pick Your Language</h4>
        </div>
    </div>
</div> -->
<div class="row mt-5">
    {% for lang in language_list %}
    <div class="col-lg-3 col-md-6 col-sm-12 mt-5">
        <a href="{% url 'pl:languages_detail' lang.slug %}" style="color:inherit;;">
            <div class=" card-stats">
                <div class="card1 card-border mt-5">
                    <div class="con-img icon-big">
                        {% if lang.name == 'C++' %}
                        <i class="devicon-cplusplus-plain colored"></i>
                        <i id='blur' class="devicon-cplusplus-plain colored"></i>

                        {% elif lang.name == 'C#' %}
                        <i class="devicon-csharp-plain colored"></i>
                        <i id='blur' class="devicon-csharp-plain colored"></i>

                        {% elif lang.name == 'CSS' %}
                        <i class="devicon-css3-plain colored"></i>
                        <i id='blur' class="devicon-css3-plain colored"></i>

                        {% elif lang.name == 'Go' %}
                        <i class="devicon-go-plain"></i>
                        <i id='blur' class="devicon-go-plain"></i>

                        {% elif lang.name == 'HTML' %}
                        <i class="devicon-html5-plain colored"></i>
                        <i id='blur' class="devicon-html5-plain colored"></i>

                        {% elif lang.name == 'Javascript' %}
                        <i class="devicon-javascript-plain colored"></i>
                        <i id='blur' class="devicon-javascript-plain colored"></i>

                        {% elif lang.name == 'Java' %}
                        <i class="devicon-java-plain colored"></i>
                        <i id='blur' class="devicon-java-plain colored"></i>

                        {% elif lang.name == 'Kotlin' %}
                        <i class="devicon-kotlin-plain colored"></i>
                        <i id='blur' class="devicon-kotlin-plain colored"></i>

                        {% elif lang.name == 'Php' %}
                        <i class="devicon-php-plain colored"></i>
                        <i id='blur' class="devicon-php-plain colored"></i>

                        {% elif lang.name == 'Python' %}
                        <i class="devicon-python-plain colored"></i>
                        <i id='blur' class="devicon-python-plain colored"></i>

                        {% elif lang.name == 'Ruby' %}
                        <i class="devicon-ruby-plain colored"></i>
                        <i id='blur' class="devicon-ruby-plain colored"></i>

                        {% elif lang.name == 'R' %}
                        <i class="devicon-r-original colored"></i>
                        <i id='blur' class="devicon-r-original colored"></i>

                        {% elif lang.name == 'Swift' %}
                        <i class="devicon-swift-plain colored"></i>
                        <i id='blur' class="devicon-swift-plain colored"></i>

                        {% endif %}
                    </div>
                    <div class="con-text">
                        <h3 class="fw-bold">{{ lang.name }}</h3>
                        <p class="my-0">Learn More</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock%}