.card1 .con-text {
    padding: 20px;
}

.card1:hover {
    transform: translate(0, -10px);
    box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.7);
}

.card1:hover .con-img {
    transform: translate(0, -15px);
}

.card1:hover .con-img i#blur {
    opacity: .45;
    transform: translate(-10px, 26px);
}

.card1 .con-img {
    width: calc(100% -60px);
    margin: 0 38px;
    margin-top: -90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-out;
}


.card1 i#blur {
    position: absolute;
    filter: blur(15px);
    z-index: -1;
    opacity: .35;
    transform: translate(-10px, 10px) scale(.85);
    transition: all .35s ease-out;
}

.con-text h3 {
    font-family: 'Oswald', sans-serif;
}

.con-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    opacity: .6;
    margin-top: 10px;
}

.card1 {
    /* width: 300px;
    min-width: 300px;
    height: auto; */
    background: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 10;
    margin: 25px;
    /* min-height: 356px; */
    transition: all .25s ease-out;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.con-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 50px;
    scroll-behavior: smooth;
}

.con-cards::-webkit-scrollbar {
    height: 0;
}

.con-cards::after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.card1 label {
    font-size: 0.8571em;
    font-weight: 700;
    margin-bottom: 5px;
}

.con-img img:hover{
    transform: scale(0.9);
    opacity: 0.9;
}

.con-text a:hover{
    text-decoration: underline;
    color: inherit;
}

.btn1 {
    min-width: 60px;
    height: 60px;
    border-radius: 20px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 200;
    margin: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
    transition: all .25s ease;
}

.btn1:hover {
    transition: translate(0, -10px);
    box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.07);
}

.btn1.i {
    font-size: 1.6rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(242, 243, 248);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content::after {
    content: '';
    left: 80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg, rgb(242, 243, 248)0%, rgba(242, 243, 248, 0)100%);
    pointer-events: none;
}

.content::before {
    content: '';
    pointer-events: none;
    right: 80px;
    height: 100%;
    position: absolute;
    width: 150px;
    z-index: 100;
}